:root {
  --background: #f5f5f5;
  --foreground: #333333;
  --card: #ffffff;
  --card-foreground: #111111;
  --popover: #ffffff;
  --popover-foreground: #111111;
  --primary: #0f5ffe;
  --primary-foreground: #ffffff;
  --secondary: #333333;
  --secondary-foreground: #ffffff;
  --muted: #f2f3f0;
  --muted-foreground: #5b5f66;
  --accent: #f2f3f0;
  --accent-foreground: #111111;
  --destructive: #a62911;
  --destructive-foreground: #ffffff;
  --success: #ddf0c9;
  --success-foreground: #1a3300;
  --warning: #f5e6d7;
  --warning-foreground: #663300;
  --info: #c9d6f0;
  --info-foreground: #001133;
  --error: #f5d7f3;
  --error-foreground: #66005e;
  --border: #e1e2e5;
  --input: #9da4b3;
  --ring: #e1e2e5;
  --sidebar: #ffffff;
  --sidebar-foreground: #5b5f66;
  --sidebar-primary: #0f5ffe;
  --sidebar-primary-foreground: #002266;
  --sidebar-border: #e1e2e5;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-ring: #e1e2e5;
}

.dark {
  --background: #252629;
  --foreground: #f5f5f5;
  --card: #1f1f1f;
  --card-foreground: #ffffff;
  --popover: #1f1f1f;
  --popover-foreground: #ffffff;
  --primary: #0f5ffe;
  --primary-foreground: #f5f5f5;
  --secondary: #414347;
  --secondary-foreground: #ffffff;
  --muted: #2e2e2e;
  --muted-foreground: #a0a6b2;
  --accent: #252629;
  --accent-foreground: #f2f3f0;
  --destructive: #a62911;
  --destructive-foreground: #ffffff;
  --success: #4a4e49;
  --success-foreground: #d1f0c9;
  --warning: #4f4e4c;
  --warning-foreground: #f5e1ce;
  --info: #3c4352;
  --info-foreground: #b2ccff;
  --error: #57474a;
  --error-foreground: #f5c4cc;
  --border: #2e2e2e;
  --input: #414347;
  --ring: #666666;
  --sidebar: #2e2f33;
  --sidebar-foreground: #a0a6b2;
  --sidebar-primary: #0f5ffe;
  --sidebar-primary-foreground: #f5f5f5;
  --sidebar-border: #414347;
  --sidebar-accent: #1f1f1f;
  --sidebar-accent-foreground: #f5f5f5;
  --sidebar-ring: #414347;
}
